body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-image: url("construction_bg.jpg"); 
  background-size: cover;
  background-position: center;
  color: #333;
}

h1,
h4 {
  color: #000;
  text-align: center;
}

img {
  width: 24px;
  height: 24px;
  margin-bottom: -5px;
}

form {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 300px;
  text-align: center;
  margin-top: 20px;
}

h2 {
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4f84f8;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #3359a6;
}

.switch-form {
  margin-top: 15px;
  color: #555;
}

.switch-form a {
  color: #007bff;
  text-decoration: none;
}

.switch-form a:hover {
  text-decoration: underline;
}

/* Hide the registration form by default */
.register-form {
  display: none;
}

/* Add a loading spinner style */
.loading-spinner {
  display: none;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #4f84f8;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
